* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0%;
    background: linear-gradient(45deg, #0000CC, #CC00CC);
}

.container {
min-height: calc(100vh - 40px *2);
display: grid; /* elementos continúan mostrándose uno debajo del otro */
grid-template-columns: 50% 50%;
border-radius: solid 10px #1315b3;
overflow: hidden; /* recalcula los contenedores dentro */

 /* height: 100vh; */
   
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: content;
    padding-left: 150px;
    background-color: #000000;}


.login-rigth {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f7f7;
    border-radius: 10px;
    text-align: center;
    
}

.submit-form input {
    width: 100%;
    background: transparent;
    border-radius: 2px solid #fff;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}

/* CASILLAS */
.inputBox label {
    position: absolute;
    /* top: 50%; */
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;

    pointer-events: none;

}

.inputBox input {}

.icon {}